:root, :host {
  /* dashboard CSS variables */
  --dashboard-gutter: var(--pf-global--spacer--sm);
  --dashboard-aggregate-status-header-FontSize: 14px;
  --dashboard-aggregate-status-header-FontWeight: var(--pf-global--FontWeight--normal);
  --dashboard-aggregate-status-notifications-FontSize: calc(var(--pf-global--FontSize--lg) + 10px);

  --dashboard-cards-header-FontSize: 16px;
  --dashboard-cards-header-FontWeight: var(--pf-global--FontWeight--normal);

  --dashboard-chart-title-FontSize: var(--pf-global--FontSize--lg);
  --dashboard-chart-title-FontWeight: var(--pf-global--FontWeight--normal);
}

body {
  background-color: #F5F5F5;
  font-size: 12px;
  line-height: 1.66666667;
  color: #363636;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#global-dashboard {
  padding: var(--dashboard-gutter);
  width: 100%;

  --pf-l-stack--m-gutter--MarginBottom: var(--dashboard-gutter);
}

#global-dashboard .refreshButton {
  height: 26px;
  font-size: 12px;
}

.pf-c-tooltip {
  /* make the tooltips look more like PF3 font and size */
  --pf-c-tooltip__content--FontSize: 14px;
}

.monitoring-portal-link {
  line-height: var(--pf-global--LineHeight--md);
  font-weight: var(--pf-global--FontWeight--bold);
  font-size: var(--pf-global--FontSize--lg);
}

/* LoadingPlaceHolder */
.loading-place-holder {
  align-self: center;
}
.loading-place-holder .loading-place-holder-spinner {
  margin-right: 20px;
}
.loading-place-holder .loading-place-holder-label {
  font-size: 18px;
}

/* Inventory status cards */
.inventory-status-cards {
  /* add spacing between rows when the card groups wrap (below md breakpoint) */
  row-gap: var(--pf-l-flex--spacer--sm);
}


/* Aggregate status card */
.aggregate-status-card {
  min-width: 150px;

  --pf-c-card--first-child--PaddingTop: 0.75rem;
  --pf-c-card__header--not-last-child--PaddingBottom: 0.25rem;
  --pf-c-card--child--PaddingLeft: 0.75rem;
  --pf-c-card--child--PaddingRight: 0.75rem;
  --pf-c-card--child--PaddingBottom: 0.75rem;

  --pf-c-card__title--FontWeight: var(--dashboard-aggregate-status-header-FontWeight);
}
.aggregate-status-card a {
  color: #363636;
}
.aggregate-status-card .pf-c-card__title {
  text-align: center;
  font-size: var(--dashboard-aggregate-status-header-FontSize);
}
.aggregate-status-card .aggregate-status-count {
  font-size: var(--pf-global--FontSize--xl);
}
.aggregate-status-card .aggregate-status-title {
  font-size: var(--pf-global--FontSize--lg)
}

.aggregate-status-notifications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 10px;

  font-size: var(--dashboard-aggregate-status-notifications-FontSize);
  font-weight: 300;
}

.aggregate-status-notification {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.aggregate-status-notification a {
  font-weight: inherit;
}

.aggregate-status-notification:not(:first-child):before {
  content: "";
  display: inline-block;
  background-color: #d1d1d1;
  margin: 0 5px 0 9px;
  width: 1px;
  height: 85%;
}

@media screen and (max-width: 992px) { /* PF4 lg breakpoint */
  .aggregate-status-card {
    min-width: 120px;
  }
}


/* GlobalUtilizationCards */
.global-utilization-cards .pf-c-card__title {
  font-size: var(--dashboard-cards-header-FontSize);
  font-weight: var(--dashboard-cards-header-FontWeight);
}


/* Utilization bar chart */
.pf-utilization-bar-chart .progress-bar {
  -webkit-transition: width .75s ease-in-out;
  -moz-transition: width .75s ease-in-out;
  -o-transition: width .75s ease-in-out;
  transition: width .75s ease-in-out;
}
.pf-utilization-bar-chart .progress-bar.animate {
  width: 0% !important;
}


/* Utilization trend card */
.utilization-trend-card .title {
  font-size: var(--dashboard-chart-title-FontSize);
  font-weight: var(--dashboard-chart-title-FontWeight);
}
.utilization-trend-card .current-values {
  border-bottom: 1px solid #d1d1d1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.utilization-trend-card .current-values .current-value {
  font-size: 150%;
}
.utilization-trend-card .current-values .current-available {
  font-size: var(--pf-global--FontSize--md);
}
.utilization-trend-card .current-values .overcommit-text {
  padding-top: 5px;
}
.utilization-trend-card .donut-chart-pf {
  width: 100%;
  float: left;
  padding-top: 15px;
}
.utilization-trend-card .radial-chart {
  float: left;
  padding-top: 10px;
  width: 100%;
}
.utilization-trend-card .sparkline-chart {
  float: left;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
}
.utilization-trend-card .legend-text {
  color: inherit;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 0;
}


/* Utilization dialog */
.overutilization-dialog {
  width: 50%;
}


/* Object Utilization List */
.object-utilization-list {
  padding: var(--dashboard-gutter);
}
.object-utilization-list .title {
  font-size: var(--pf-global--FontSize--lg);
}
.object-utilization-list .empty-list {
  padding: 20px;
  font-size: var(--pf-global--FontSize--lg);
}
.object-utilization-list .list-container {

}
.object-utilization-list .list-container .item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.object-utilization-list .list-container .item-utilization-bar {

}
.object-utilization-list .list-container .item-trend {
  text-align: center;
}


/* Heat Map Cards */
.heatmap-cards {
  --pf-l-grid--m-gutter--GridGap: var(--dashboard-gutter);
}
.heatmap-cards .pf-c-card__title {
  font-size: var(--dashboard-cards-header-FontSize);
  font-weight: var(--dashboard-cards-header-FontWeight);
}
.heatmap-cards .heatmap-chart .pf-l-grid {
  --pf-l-grid--m-gutter--GridGap: var(--dashboard-gutter);
}

.heatmap-chart .heatmap-chart-title {
  font-size: var(--dashboard-chart-title-FontSize);
  font-weight: var(--dashboard-chart-title-FontWeight);
}


/* Heat map */
.heatmap-legend {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-top: 15px;
  padding-bottom: 0;
  display: inline-block;
  position: relative;
}
.heatmap-legend-container {
  width: 100%;
  position: relative;
}
.heatmap-legend-container ul {
  list-style-type: none;
}
.heatmap-legend-container li {
  display: inline;
}
.heatmap-legend .color-box {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-right: 5px;
  list-style-type: none;
  float: left;
}
.heatmap-legend .legend-text {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-right: 5px;
  list-style-type: none;
  float: left;
}
.heatmap-svg {
  width: 100%;
  height: 100%;
}
.heatmap-svg rect {
  cursor: pointer;
}
