:root {
  /*
    increase z-index in PF4 so it displays above PF3 components,
    especially for Modal and backdrop components
  */
  --pf-global--ZIndex--xs: 1100;
  --pf-global--ZIndex--sm: 1200;
  --pf-global--ZIndex--md: 1300;
  --pf-global--ZIndex--lg: 1400;
  --pf-global--ZIndex--xl: 1500;
  --pf-global--ZIndex--2xl: 1600;
}

.pf-c-backdrop {
  /*
    skip the backdrop blurring - makes the Modals look very different from PF3 and
    you can't see anything on the main page with the blur filter turned on
  */
  --pf-c-backdrop--BackdropFilter: none;
}
