.clusterUpgradeWizard {
  --pf-c-wizard--Width: 100%;
  --pf-c-wizard--Height: 100%;
}

.clusterUpgradeWizard .pf-c-wizard__main-body {
  height: 100%;
}

/*
 * Hosts
 */
 .host-status-icon {
  font-size: 140%;
  padding-top: 2px;
}

.host-status-icon-red {
  color: red;
}

.host-status-icon-green {
  color: green;
}

.clusterUpgradeWizard-SelectHosts-NoHosts {
  text-align: center;
}

.clusterUpgradeWizard-SelectHosts .tableContainer {
  padding-top: var(--pf-c-wizard__main-body--PaddingTop);
}

.clusterUpgradeWizard-SelectHosts .statusColumn {
  text-align: center;
}

/*
 * Options
 */
 .clusterUpgradeWizard-UpgradeOptions .pf-c-form {
 --pf-c-form--m-horizontal--md__group--GridTemplateColumns: 210px 1fr;
}

.clusterUpgradeWizard-UpgradeOptions .pf-c-title {
   padding-bottom: var(--pf-c-wizard__main-body--PaddingTop);
}

.clusterUpgradeWizard-UpgradeOptions .pf-c-form__group-control .pf-c-check {
  padding-top: var(--pf-c-form--m-horizontal__group-label--md--PaddingTop);
}

.clusterUpgradeWizard-UpgradeOptions .timeoutInput {
  width: 300px;
}

/*
 * Review
 */
.clusterUpgradeWizard-UpgradeReview .pf-c-title {
  padding-bottom: var(--pf-c-wizard__main-body--PaddingTop);
}

.clusterUpgradeWizard-UpgradeReview-Cards {
  background-color: var(--pf-global--BackgroundColor--200);

  margin-right: calc(-1 * var(--pf-c-wizard__main-body--PaddingRight));
  margin-bottom: calc(-1 * var(--pf-c-wizard__main-body--PaddingBottom));
  margin-left: calc(-1 * var(--pf-c-wizard__main-body--PaddingLeft));

  padding-top: var(--pf-c-wizard__main-body--PaddingTop);
  padding-right: var(--pf-c-wizard__main-body--PaddingRight);
  padding-bottom: var(--pf-c-wizard__main-body--PaddingBottom);
  padding-left: var(--pf-c-wizard__main-body--PaddingLeft);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.clusterUpgradeWizard-UpgradeReview .pf-c-card__title {
  text-align: center;
}

.clusterUpgradeWizard-UpgradeReview .card-title-icon {
  color: var(--pf-global--Color--200);
  width: 70px;
  height: 70px;
}

.clusterUpgradeWizard-UpgradeReview .card-title-label {
  margin-top: 10px;
}

.error-message {
  color: red;
}
