.pf-c-form__horizontal-group input[type=checkbox] {
  /*
    issue: checkbox was displayed lower then the label
    use case: migrate vm dialog
  */
  margin-top: 0;
}

.pf-c-form__horizontal-group ul.pf-c-list.vm-list {
  list-style-type: none;
  /*
    align the list with the label on the left side
  */
  padding-top: var(--pf-global--spacer--form-element);
  padding-left: 0;

}
