/*
  vm-list: no bullet icons, align with the form group's label
*/
.pf-c-form.pf-m-horizontal .pf-c-form__group-control ul.vm-list {
  list-style-type: none;

  padding-top: calc(var(--pf-global--spacer--form-element) + 2px);
  padding-left: 0;

  line-height: var(--pf-c-form__label--LineHeight);
}
