<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (webpackConfig.mode === 'development') { %>
  <script>
    if (window.parent !== window) {
      window.__REACT_DEVTOOLS_GLOBAL_HOOK__ = window.parent.__REACT_DEVTOOLS_GLOBAL_HOOK__
    }
  </script>
  <% } %>
</head>
<body>
  <%=htmlWebpackPlugin.files.webpackManifest%>
  <div id="app"></div>
</body>
</html>
