.vgpu-modal .modal-lg {
    width: 1100px;
}

.vgpu-modal-description {
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--Color--300)
}

.vgpu-modal-body-label {
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--Color--100);
    padding-right: 20px;
}

#vgpu-display-on-switch > span {
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--Color--100);
}

.vgpu-search-box {
    width: 100%;
}

.vgpu-table-wrapper {
    height: 450px;
    overflow: auto;
}

.vgpu-table-empty-state {
    height: 380px;
}

.vgpu-table th.pf-c-table__sort {
    padding-top: var(--pf-c-table-cell--PaddingTop);
    padding-right: var(--pf-c-table-cell--PaddingRight);
    padding-bottom: var(--pf-c-table-cell--PaddingBottom);
    padding-left: var(--pf-c-table-cell--PaddingLeft);
}

.vgpu-table th {
    white-space: normal;
}

.vgpu-table ul {
    list-style: none;
}

.vgpu-detail-table {
    --pf-c-table--nested--first-last-child--PaddingLeft: var(--pf-global--spacer--xl);
    --pf-c-table--nested--first-last-child--PaddingRight: var(--pf-global--spacer--xl);
}
